@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
 
}
.hero-haze{
  background-image: url(/hero-bg.png);
  background-position: 100% 10%;
  background-repeat: no-repeat;
  background-size: cover;
}

#donation-go{
  background-image: url(/section2-01buttom1.png);
  background-position: 100% 10%;
  background-repeat: no-repeat;
  background-size: cover;
}

.every-ringgit{
  background-image: url(/section31.png);
  background-position: 10% 80%;
  background-repeat: no-repeat;
  background-size: cover;
}
#magic{
  background-image: url(/grain.png);
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
#magic::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}